.entry.clearfix
  .meta
    %h6
      %a.favicon{:href => source_path(source)}
        %img{:src => source.home_url + "/favicon.ico"}
      Last published 
      = time_ago_in_words(source.things.last.created_at)
      ago
    %h6.extra
      Total articles: 
      = number_with_delimiter(source.things.count)
  .main
    %h3
      = link_to source.name, source_path(source)
    %p
      = raw(awesome_truncate(source.description, 400))