%h2
  About Follow Indy

#about  
  <p>FollowIndy is an aggregate picture of what's being written about by Indianapolis-area news organizations and individuals.</p>
  <p>It attempts to find and organize everything so users can try to discover patterns in news coverage and public attention of particular topics.</p>
  %p
    = link_to "Chris Vannoy", "http://chrisvannoy.com" 
    is the (lack of) brains behind this project.
  <p>All content is copyright of its original owner and FollowIndy makes no claim to ownership of any of said content.</p>    
  %p
    FollowIndy displays only information that is available through public APIs or RSS feeds. If you represent a content owner and would not like your content to appear here, 
    = mail_to "chris@followindy.com", "contact us", :subject => "Hey, I don't want my stuff on FollowIndy.com!" 
    and we'll get it removed.  
  %p
    You can find out still more information about FollowIndy on 
    = link_to "its blog", "http://blog.followindy.com/" 
    or via <a href="http://twitter.com/FollowIndy">Twitter</a>.