/* @override 
	http://localhost:3000/stylesheets/app.css?1280021074
	http://localhost:3000/stylesheets/app.css?1280025522
	http://localhost:3000/stylesheets/app.css?1280025669
	http://localhost:3000/stylesheets/app.css?1280141437
	http://localhost:3000/stylesheets/app.css?1280142348
	http://localhost:3000/stylesheets/app.css?1280260474
	http://localhost:3000/stylesheets/app.css?1280433105
	http://localhost:3000/stylesheets/app.css?1280519745
*/

/* == START RESET == */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}


body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-spacing: 0;
}

/* == END RESET == */

/* == CLEARFIX == */

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

/* == END CLEARFIX == */

/* =+= General Styling =+= */

a {
	color: #2f63ac;
	text-decoration: none;
}

a:hover, a:visited {
	color: #999;
}

body {
	font-family: "Helvetica Neue", Helvetica, Geneva, Arial, sans-serif;
}

/* =+= Header =+= */

#header {
	padding: 10px 5% 5px 5%;
	margin-bottom: 5px;
	border-bottom: 1px solid black;
}

#header h1 {
	float: left;
	text-indent: -5000em;
}

#header h1 a {
	font-family: 'Droid Sans', "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-weight: bold;
	font-size: 3.6em;
	text-decoration: none;
	color: black;
	padding-top: 7px;
	width: 500px;
	height: 116px;
	background: transparent url(/images/fi_logo.gif) top left no-repeat;
	display: block;
}

#header ul#nav {
	width: 40%;
	float: right;
	list-style-type: none;
	padding: 50px 0px;
}

#header ul#nav li {
	float: right;
}

#header ul#nav li a {
	font-family: Helvetica, "Helvetica Neue", Arial, Geneva, sans-serif;
	font-size: 2em;
	color: #333;
	padding: 20px;
	text-decoration:none;
}

#header ul#nav li#search {
	padding: 3px 0px 3px 20px;
}

#content h2 {
	margin-left: 5%;
	font-family: 'Droid Sans', "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-weight: bold;
	font-size: 1.6em;
	padding: 10px 0px;
	text-transform: uppercase;
	color: #2f63ac;
}

/* =+= Entries =+= */

.entry {
	width: 90%;
	margin: 10px auto;
	border-bottom: 1px solid black;
	padding: 20px 0px;
}

.entry .meta {
	width: 30%;
	float: left;
	margin-right: 30px;
}

.entry .meta .favicon img {
	margin-right: 3px;
}

.entry .meta h6 a:hover {
	background-color: white;
}

.entry .meta h6 {
	font-family: 'Droid Sans', "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #333;
	margin-bottom: 3px;
}

.entry h6.more {
	margin-left: 19px;
}

.entry .meta .tag_list {
	font-size: 0.8em;
	line-height: 1.4em;
}

.main {
	width: 65%;
	float: right;
}

.main h3 a {
	display: block;
	padding: 5px 0px;
	font-family: 'Droid Sans', "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-weight: bold;
	font-size: 1.8em;
	line-height: 1.2em;
	color: #333;
}

.main h3 a:hover {
	color: #999;
}

.main p {
	line-height: 1.4em;
}

/* =+= Meta Line =+= */

.entry ul.meta {
	width: 100%;
	margin-top: 10px;
}

.entry ul.meta li {
	float: left;
	margin-right: 30px;
}


/* =+= Pagination =+= */

.pagination {
	width: 90%;
	margin: 0px auto;
	text-align: center;
}

.pagination {
  background: #F1F1F1;
  border: 1px solid #E5E5E5;
  text-align: center;
  padding: 1em; }
  .pagination a, .pagination span, .pagination em {
    padding: .2em .3em; }
  .pagination span.disabled {
    color: #AAA; }
  .pagination em {
	width: 17px;
	height: 17px;
    font-weight: bold;
    background: transparent url(/images/apple-circle.gif) no-repeat 50% 50%; }
  .pagination a {
    text-decoration: none;
    color: black; }
    .pagination a:hover, .pagination a:focus {
      text-decoration: underline; }
      
/* =+= Graph =+= */

#graph {
	width: 90%;
	height: 300px;
	margin: 0px auto;
	padding-bottom: 20px;
}

/* =+= About =+= */

#about {
	width: 90%;
	margin: 0px auto;
}

#about p {
	line-height: 1.4em;
	padding-bottom: 10px;
}

/* =+= Footer =+= */

#footer {
	margin: 30px auto 40px auto;
	width: 90%;
	font-family: 'Droid Sans', "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-weight: bold;
	font-size: 1.2em;
	text-decoration: none;
	color: black;
	text-align: center;
}
      