-# %dl.category_nav
-#   - Source.all.collect{|source| source.categories}.flatten.collect{|category| category.name}.uniq.each do |category_name|
-#     %dt
-#       = link_to category_name, category_path(category_name)
-#     %dd
-#       %ul
-#         - Source.where('categories.name' => category_name).all.each do |source|
-#           %li
-#             = link_to source.name, source_path(source)
  